#app {
  height: 100%;
  background-color: #fcfcfc;
}

html,
body {
  height: 100%;
}

.page {
  overflow: hidden;
}


/* VoteAdd */

.voteadd-btn-addopt {
  margin-left: 15px;
  margin-top: .77em;
  margin-bottom: .3em;
}

.voteadd-btn-delopt {
  margin-left: .6em;
}

.voteadd-btn-submit {
  margin-top: 2em;
  margin-bottom: 2em;
}


/* VoteView */

.voteview-cell-title {
  color: #333;
  font-size: 16px;
  padding: 10px 0 4px;
}


/* VoteResult */

// .voteresult-cells .weui_cell:before {
//   display: none;
// }
.voteresult-progress {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 8px;
}

.voteresult-progress .weui_progress {
  width: 68%;
}
.voteresult-progress .weui_progress_bar{
  height: 6px;
}

.voteresult-progress-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  color: #888;
  line-height: 1.2;
}

.voteresult-progress-text .num {
  width: 48px;
  text-align: right;
  padding-left: 4px;
}

.voteresult-progress-text .percent {
  padding-left: 12px;
}











